torch==1.11.0 -i https://download.pytorch.org/whl/cu113
torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-sparse -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-cluster -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.11.0+cu113.html
torch-geometric==2.0.4
pytorch-lightning==1.6.4
boltons==21.0.0
torchmetrics==0.9.1
sympy==1.10.1
wandb==0.12.20
git+https://github.com/ildoonet/pytorch-gradual-warmup-lr
rdkit-pypi>=2021.3.1